:root {
    --white-color: #fff;
    --text-color: #333;
    --black-color: #000;
    --primary-color: #24aee4;
}

* {
    box-sizing: inherit;
    list-style: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.article-title {
    font-weight: bold;
    color: var(--text-color)};
}

.article-news__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Animation */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes HeaderNotifyGrowth {
    from {
        transform: translateX(0%);
        opacity: 0;
    }
    to {
        transform: scale(100%);
        opacity: 1;
    }
}