/* Mobile & Tablet */
@media (max-width: 1023px) {
    .multimedia-menu__list {
        display: none;
    }

    .article-news__header {
        text-align: center;
    }

    .header__category-menu-item {
        display: none;
    }

    .header__category-menu-item:last-child {
        display: block;
    }

    .header__logo {
        order: 2;
    }

    .header__tool {
        order: 3;
    }

    .page-widget {
        display: none;
    }

    .article-news__content--head {
        display: none;
    }

    .article-news__header {
        text-align: unset;
    }

    .page-content__news-featured {
        margin-bottom: 20px;
    }

    .page-content .grid .row .l-3 {
        order: 2;
    }

    .page-content__news-trending .article-item {
        display: flex;
    }

    .newsfeatured .article-l-size__item div p,
    .newsfeatured .article-l-size__item div span {
        display: none;
    }

    .newsfeatured .article-l-size__item:first-child {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }

    .newsfeatured .article-l-size__list {
        width: 100%;
        display: inline-block;
    }

    .newsfeatured .article-l-size__item {
        width: 50%;
    }
    
    .newsfeatured .article-l-size__item:nth-child(2) {
        margin: 0;
        padding-right: 2%;
    }

    .newsfeatured .article-l-size__item:nth-child(3) {
        padding-left: 2%;
    }

    /* Page multi */
    .page-multi span {
        display: none;
    }

    .page-multi .article-l-size__item {
        width: 50%;
    }

    .page-multi .article-l-size__item:nth-child(2),
    .page-multi .article-l-size__item:nth-child(4) {
        padding: 0 2% 0 0;
    }

    .page-multi .article-l-size__item:nth-child(3),
    .page-multi .article-l-size__item:nth-child(5) {
        padding: 0 0 0 2%;
    }

    .page-multi .article-l-size__item:first-child {
        width: 100%;
        text-align: center;
    }

    .article-l-size__item:first-child h3 {
        font-size: 2.8rem;
        line-height: 2.7rem;
    }

    .article-l-size__list p {
        padding: 0 7%;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .page-content {
        width: calc(100% - 10%);
        margin-top: 20px;
    }

    .newsfeatured {
        width: 100%;
        float: left;
    }

    .newstrending {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .newstrending .article-s-size__list {
        padding-top: 30px;
        border-top: 1px solid #dedede;
    }

    .article-s-size__item {
        height: unset;
    }

    .article-s-size__item img {
        width: 33%;
        height: unset;
    }

    .wide {
        width: calc(100% - 60px);
    }

    .mobile-hide {
        display: none;
    }

    .header__navbar-tool-user {
        display: none;
    }
    .page-entertainment .article-list {
        border-bottom: 1px solid #dedede;
        margin-bottom: 30px;
    }

    .page-content .article-thumbnail.s-size {
        /* width: 206px;
        height: 137px; */
    }

    .page-multi {
        width: 100%;
    }

    .page-book .col:nth-child(2),
    .page-book .col:nth-child(3),
    .page-book .col:nth-child(4),
    .page-book .col:nth-child(5) {
        display: none;
    }

    .page-video {
        display: none;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .left-side-info {
        align-items: center;
    }

    .left-side-web-info__text,
    .copyright-info {
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .page-content {
        width: calc(100% - 60px);
        margin-top: 20px;
    }

    .newstrending {
        float: right;
        width: 38.5%;
        padding: 0;
    }

    .newsfeatured {
        float: left;
        width: 58.5%;
    }

    .wide {
        width: calc(100% - 60px);
    }

    .page-book .col:nth-child(4),
    .page-book .col:nth-child(5) {
        display: none;
    }

    .page-video .article-title {
        display: none;
    }

    .article-item {
        display: none;
    }

    .page-video .article-item:nth-child(1),
    .page-video .article-item:nth-child(2),
    .page-video .article-item:nth-child(3),
    .page-video .article-item:nth-child(4) {
        display: block;
    }

    .page-video .article-list .col:nth-child(5),
    .page-video .article-list .col:nth-child(6),
    .page-video .article-list .col:nth-child(7),
    .page-video .article-list .col:nth-child(8),
    .page-video .article-list .col:nth-child(9),
    .page-video .article-list .col:nth-child(10) {
        display: none;
    }

    .page-video .article-list {
        height: initial;
        background-color: #333;
        overflow: unset;
        padding: 15px;
    }

    .page-video .article-item {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .page-video .article-list .article-thumbnail.s-size {
        height: unset;
    }

    .page-video .article-list .article-img {
        width: 100%;
    }

    .page-video .article-list .article-play-icon {
        padding-top: 3%;
    }

    .page-promotion .article-item {
        display: flex;
    }

    .page-promotion .article-title.mobile-hide {
        height: 80px;
        overflow: hidden;
    }
}